<p>Hello World, it's blog section home page</p>

<div class="container">
    <h1 class="mb-4">Living Experience</h1>
    <a href="/expshare/new" class="btn btn-success">Create your own</a>

    <p>something shows here</p>
    {{#each expthreads as |expthread| }}
        <div class="card mt-4">
            {{expthread.title}}
            {{expthread.createdAt}}
            {{expthread.description}}
        </div>
    
    {{/each}}

</div>



