<p>New Threads created on this page</p>

<div class="container">
    <h1 class="mb-4">Create New Thread of Your Previous Living Experience</h1>
    <form action="/expshare" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" value='{{threads.title}}' required>           
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control" value='{{threads.description}}' required></textarea> 
        </div>

        <div class="form-group">
            <label for="markdown">Markdown</label>
            <textarea name="markdown" id="markdown" class="form-control" value='{{threads.markdown}}' required></textarea> 
        </div>
        
        <div class="mt-2">
            <a href="/expshare" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
    
    

</div>

